/*��ͼ�л�*/
#MapSwitch {
    position: relative;
    float: left;
}

.mapSwitchBtn {
    position: absolute;
    width: 70px;
    height: 35px;
    margin: -1px -1px;
    cursor: pointer;
    z-index: 5;
    border-right: 1px solid #dcdcdc;
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 14px;
}

.mapSwitchBtn-state-selected {
    z-index: 6;
    background-color: #deedff;
    color: rgb(22, 106, 190);
    font-weight: bold;
}

/*��ͼע���б�*/
#MapSwitchContent {
    background-color: #FFF;
    width: 85px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #a8b7d2;
    padding: 4px 5px;
    position: absolute;
    /*left:164px;*/
    top: 33px;
    display: none;
}

#MapSwitchContent label {
    color: #535a61;
    font-weight: bold;
}

.ConstrastMaps {
    position: absolute;
    background-color: #FFFFFF;
    /*border:1px solid #0db2ef;*/
    width: 500px;
    height: 100%;
    top: 0;
    right: 0;
}

.toggleButton {
     float: left;
     width: 130px;
     height: 30px;
     line-height: 30px;
     background-color: #deedff;
     border: 1px solid #166abe;
     color: rgb(22, 106, 190);
     cursor: pointer;
 }

.statusDiv {
    float: left;
    width: 500px;
    height: 30px;
    line-height: 30px;
    background-color: #00BFFF;
    border: 1px solid #166abe;
    color:  #FFFFFF;
    cursor: pointer;
}
.statusDiv2 {
    float: left;
    width: 500px;
    height: 30px;
    line-height: 30px;
    background-color: 	#3CB371;
    border: 1px solid 	#228B22;
    color:  #FFFFFF;
    cursor: pointer;
}
.toggleButton-selected {
    color: #FFFFFF;
    background-color: #7fb8ff;
}

.toggleTitle {
    float: left;
    width: 500px;
    height: 55px;
    line-height: 55px;
    background-color: #deedff;
    border: 0px solid #166abe;
    color: rgb(22, 106, 190);
    font-size:30px;
    cursor: pointer;
}
.title-selected {
    color: #FFFFFF;
    background-color: 	#c2c5c7;
}

.bottom_close {
    background: url(/topgis/TopGIS/widgets/PlanSite/images/v_close.png) no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
}

.leftShape {
    position: absolute;
    left: -8px;
    top: 0;
    height: 100%;
    width: 8px;
    background-image: url(/topgis/TopGIS/widgets/PlanSite/images/BoxTopB.png);
    /*url(images/BoxTopB.png);*/
}

.buttonDataList {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.selectData{
    padding: 3px 24px 3px 6px;
    width: 50%;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    vertical-align: middle;
}
.search-input {
    padding: 3px 24px 3px 6px;
    width: 50%;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.search-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.dijitDialogPaneContent {
    height: 440px;
}
/**弹窗样式*/
.plansite-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000
}
.plansite-content {

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #fff
}
.plansite-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 240px;
    height: 240px;
    background: #dbf2f7;
    border-radius: 50%;
}
.plansite-main > h2 {
    text-align: center;
    line-height: 240px;
    font-size: 20px;
    font-weight: 800;
}
.plansite-icon {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #9c9c9c;
    border-radius: 50%;
}
.plansite-icon-1 {
    top: 4px;
    left: 30px;
    background: #77c5a9;
}
.plansite-bg-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 29px;
    height: 29px;
    background-repeat: no-repeat;
}
.plansite-icon-2 {
    top: 80px;
    left: -15px;
    background: #b5dabd;
}
.plansite-icon-3 {
    bottom: 10px;
    left: 30px;
    background: #2fa4ad;
}
.plansite-icon-4 {
    top: 30px;
    right: 2px;
    background: #17679c;
}
.plansite-icon-5 {
    bottom: 40px;
    right: 1px;
    background: #4ebed4;
}
.plansite-item {
    position: absolute;
    width: 180px;
    font-weight: 500;
    font-size: 10px;
}
.plansite-item > h3 {
    margin-top: 0!important;
    font-size: 20px;
    font-weight: 500;
}
.plansite-item-1 {
    top: -21px;
    left: -94px;
}
.plansite-item-2 {
    top: 60px;
    left: -162px;
}
.plansite-item-3 {
    top: 178px;
    left: -132px;
}
.plansite-item-4 {
    top: -28px;
    right: -213px;
}
.plansite-item-5 {
    bottom: -28px;
    right: -213px;
}
.plansite-line {
    position: absolute;
    display: inline-block;
    height: 1px;
    background: #000;
    z-index: 999;
}
.plansite-line::after {
    position: absolute;
    top: -2px;
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
}
.plansite-line::before {
    position: absolute;
    top: -1px;
    right: -2px;
    display: inline-block;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #000;
}
.plansite-line-1 {
    left: -50px;
    transform:rotate(14deg);
    width: 100px;
}
.plansite-line-2 {
    top: 80px;
    left: -116px;
    transform:rotate(10deg);
    width: 120px;
}
.plansite-line-3 {
    top: 195px;
    left: -45px;
    transform:rotate(8deg);
    width: 85px;
}
.plansite-line-4 {
    top: 20px;
    right: -41px;
    transform:rotate(-47deg);
    width: 68px;
}
.plansite-line-5 {
    top: 176px;
    right: -29px;
    transform:rotate(12deg);
    width: 38px;
}