<div class="attrRow" data-dojo-attach-point="ColorSelectContainer">
    <div class="attrNm" data-dojo-attach-point="ToolLabel">颜色选择:</div>
    <div class="attrVal">
        <ul class="styleSel">
            <li class="blue"><a href="#" class="selA"><span class="blueBg"></span></a></li>
            <li class="green"><a href="#"><span class="greenBg"></span></a></li>
            <li class="yellow"><a href="#"><span class="yellowBg"></span></a></li>
            <li class="red"><a href="#"><span class="redBg"></span></a></li>
            <li class="purple"><a href="#"><span class="purpleBg"></span></a></li>
            <li class="orange"><a href="#"><span class="orangeBg"></span></a></li>
            <li class="bp"><a href="#"><span class="bpBg"></span></a></li>
        </ul>
    </div>
</div>
