<div class="attrRow" data-dojo-attach-point="SectorOrThiessContainer">
    <div class="attrNm"  data-dojo-attach-point="ToolLabel">类型选择:</div>
    <div class="attrVal inlineRadios"><label data-dojo-attach-point="SectorLabel"><input type="radio" value="sector" name="SectorOrThiess" data-dojo-attach-point="SectorRadio" checked/>扇形</label><label data-dojo-attach-point="ThiessLabel"><input type="radio" value="thiess" name="SectorOrThiess" data-dojo-attach-point="ThiessRadio" />泰森多边形</label></div>
</div>