<div class="attrRow" data-dojo-attach-point="selectContainer">
    <div class="attrNm" data-dojo-attach-point="ToolLabel">渲染设置:</div>
    <div class="attrVal inlineRadios">
        <div data-dojo-attach-point="settingContent" style="width:100%;">
            <div class="point-section" data-dojo-attach-point="pointSection">
                <div data-dojo-attach-point="pointSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"marker"'></div>
            </div>

            <div class="line-section" data-dojo-attach-point="lineSection">
                <div data-dojo-attach-point="lineSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"line"'></div>
            </div>

            <div class="polygon-section" data-dojo-attach-point="polygonSection">
                <div data-dojo-attach-point="fillSymChooser" data-dojo-type="jimu/dijit/SymbolChooser" data-dojo-props='type:"fill"'></div>
            </div>
        </div>
    </div>
  
</div>